---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';;
import BuyList from '../components/List.tsx'

const buyList = [
	'Controller',
	'Bread',
	'Water', 
	'NoteBook',
	'Math Book',
	'Choco Bar',
	'Milk'
	]
---
<div class="cont">
	<h1>Compras de la semana </h1>
	<BuyList {buyList} />
</div>


<style>
.cont {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
}
h2{
	font-size: 50px; 
	font-family: Arial, sans-serif;
}
</style>
